.order-display {
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
}

.od-image-up img {
    width: 110px;
    height: 110px;
    margin-left: 40%;
}

.od-dt-img img {
    width: auto;
    height: 110px;
    border-radius: 2px;
}

.od-dt-title {
    margin-left: 10px;
}





.od-details0 p {
    all: revert;
    color: #000000;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.od-details0 h5 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-left: 2%;
}



.od-detailsall {
    all: none;
    text-decoration: none;
    color: #000000;
    font-weight: 100px;
    text-align: center;
    display: flex;
    margin: 10px 0px;
    gap: 10%;
    margin-left: 200px;

}

.box {
    display: flex;
    margin-left: 350px;
    box-decoration-break: none;
    max-width: 1000px;
    height: auto;
    margin-bottom: 30px;
    margin-left: 600px;
    padding-top: 17px;
    padding-bottom: 40px;
    padding-left: 36px;
    padding-right: 60px;
    border-radius: 17px;
    box-shadow: 0 0 3px 3px #dad9d9;
}

.box1 {

    display: flex;
    width: 517px;
    height: 480px;
    padding-top: 17px;
    padding-bottom: 40px;
    padding-left: 36px;
    padding-right: 60px;
    border-radius: 17px;
    box-shadow: 0 0 3px 3px #dad9d9;
    margin-left: 30%;
    margin-top: 3%;
}


.od-details3 {
    margin-left: 200px;
}
.od-details-img-title {
    display: flex;
    margin-left: 2%;
}

.price-info {
    margin-top: 20px;
    display: flex;
    margin-left: 2%;
    gap: 60%;
    margin-bottom: 20px;
    
}

.price-info h2 {
    font-weight: 600;
    font-size: 22px;
    margin-left: 20px;
    color: #000000;
}

.price-info h3 {
    font-weight: 600;
    font-size: 22px;
    margin-left: -500px;
    color: #000000;
}
.od-buttons {
    display: flex;
    margin-left: 500;
    gap: 40%;
    margin-top: 12px;
}

.od-btn1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 100px;
}

.od-btn4 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 10px;
}


.od-btn3 {
    background-color: #4e4caf;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 100px;
}

.od-btn2 {
    background-color: #9b1f1f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
}

.od-details022 {
    text-align: center;
    margin-top: 20px;
}

.od-buttons2 {
    margin-left: 2%;
    gap: 36%;
    margin-top: 40px;

}

.update-field {
    margin-left: 2%;
    gap: 36%;
    margin-top: 12px;
}

.uf1 label {
    font-weight: 600;
    font-size: 16px;
}


.uf2 label {
    font-weight: 600;
    font-size: 16px;
}


.uf2 {
    margin-top: 40px;
}

.uf1 input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #948f8f;
    padding-left: 10px;
}

.uf2 input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #948f8f;
    padding-left: 10px;
}