/* CSS styles for feedback page */

/* Eric Meyer's CSS Reset */
/* v2.0 | 20110126 */
/* http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
    position: relative;
    overflow: auto;
    background-color: #ffffff;
  }
 
/* Styles for the container */
.container {
    max-width: 1000px;
    padding: 40px;
    background-color: #ffffffd4;
    box-shadow: 5px 5px 8px 5px rgba(101, 139, 244, 0.456);
    margin: 10px auto 100px;
    border-radius: 50px;
    overflow: auto;
}

/* Styles for the heading */
h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 300%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Styles for the form */
form {
    margin-top: 20px;
}

/* Styles for form groups */
.form-group {
    margin-left: 120px;
    font-size: 100%;
    margin-top: 20px;
    font-weight: 2000;
}

/* Styles for labels */
label {
    display: block;
    font-weight: bold;
}

/* Styles for text input and textarea */
input[type="text"],
textarea {
    width: 700px;
    padding: 5px;
    border: 1px solid #02020272;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

input[type="email"],input[type="password"],
textarea {
    width: 700px;
    padding: 5px;
    border: 1px solid #02020272;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}



/* Styles for textarea */
textarea {
    height: 100px;
    max-width: 700px;
}

/* Styles for submit button */
button[type="submit"] {
    background-color: #3550ff;
    color: #fff;
    font-size: 18px;
    padding: 15px 25px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

/* Styles for submit button on hover */
button:hover {
    background-color: #5c71ff;
    color: #fff;
    font-size: 16px;
    padding: 15px 23px;
    border: 2px solid #000000;
    border-radius: 8px;
    cursor: pointer;
}
.error {
    color: red;
    border: 1px solid red;
    padding: 20px;
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    margin-top: -70px;
    align-items: center;
}

.success {
    color: red;
    border: 1px solid red;
    padding: 20px;
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    margin-top: 20px;

}