header {
    
    background-color:#2c84ffee;
    padding: 15px;
    box-shadow: 0 0 3px #000;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    

}

header li {
    display: inline;
    padding-left: 25px;
}

header li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header li a:hover {
    color:white;
}

header ul #Contact a {
    color: #fff;
    background-color: royalblue;
    border-radius: 30px;
    float: right;
    position:relative;
    top: -10px;
    transition: .3s ease;
    margin-right: 30px;
}

header ul #Contact a:hover {
    background-color: goldenrod;
}

header li img {
    width: 70px;
    height: 60px;
    float: left;
    top: -15px;
    position: relative;
    margin-bottom: 40px;
    margin-top: -10px;
}

.active {
    color:white;
}



.logo img{
    width: 1500px;
    height: auto;
    /*margin-top: 20px;*/
    margin-bottom: -50px;
}